<div class="controls" ng-show="showControls">
 <div class="dropdown datepick">
   <label>
     Start Time
   </label>
  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
    <div class="input-group"><input type="text" class="form-control" data-ng-model="startTime"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <datetimepicker data-ng-model="startTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
  </ul>
 </div>
 <div class="dropdown datepick">
    <label>
      End Time
    </label>
  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
    <div class="input-group"><input type="text" class="form-control" data-ng-model="endTime"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <datetimepicker data-ng-model="endTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
  </ul>
 </div>
 <div class="ctrlBottom">
   <button class="btn btn-primary btn-xs" ng-click="updateMap()">Update Map</button>
   <button class="btn btn-primary btn-xs pull-right" ng-click="showMenu(false)">Hide Controls</button>
 </div>
</div>
<div class="controls" ng-hide="showControls">
  <button class="btn btn-primary  btn-xs" ng-click="showMenu(true)">Show Controls</button>
</div>
<leaflet height="100%" paths="paths" markers="markers" ></leaflet>
